header{
    background: #2c3350;
    color:#fff;
}

.main {
    background: #f2f2f2;
}

.color1 {
    background: #28a928;
    color: #fff;
}

.color2 {
    background: #ff2828;
    color: #fff;
}

footer {
    background: #16a085;
    color: #fff;
}